[Unit]
Description=Run Evergreen backups daily

[Timer]
OnCalendar=*-*-* 02:15:00
Persistent=true
RandomizedDelaySec=30m

[Install]
WantedBy=timers.target

